* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-red: #E3646E;
    --main-purple: #BB72E9:
    --main-blue: #3996DB;
    --main-green: #82BC4F;
    --main-yellow: #EABD5F;
    --base-gray-100: #0D0E11;
    --base-gray-200: #16181D;
    --base-gray-300: #292C34;
    --base-gray-400: #878EA1;
    --base-gray-500: #C0C4CE;
    --base-gray-600: #E2E4E9;

    --font-family-asap: "Asap", sans-serif;
    --h1: 700 56px/120% var(--font-family-asap);
    --h2: 700 24px/120% var(--font-family-asap);
    --h3: 700 16px/120% var(--font-family-asap);
    
    --font-family-inconsolata: "Inconsolata", monospace;
    --subtitle: 400 20px/120% var(--font-family-inconsolata);

    --font-family-maven-pro: "Maven Pro", sans-serif;
    --text-md: 400 16px/140% var(--font-family-maven-pro);
    --text-sm: 400 14px/140% var(--font-family-maven-pro);
}

body {
    color: var(--base-gray-600);
    background-color: var(--base-gray-300);
}

h1, h2, h3 {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}